@font-face {
    font-family: "Monserrat";
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Manrope";
    src: url(../fonts/Manrope/Manrope-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Inconsolata;
    src: url(../fonts/Inconsolata/Inconsolata-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Tsukimi;
    src: url(../fonts/Tsukimi/TsukimiRounded-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Archi;
    src: url(../fonts/Archi/ArchitectsDaughter-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Hand";
    src: url(../fonts/Hand/PatrickHand-Regular.ttf) format("truetype");
}